<h2>All Historical Landmarks</h2>

<!-- add content here -->
<%Landmark.all.each do |l|%>
  <h3>Name: <%=l.name%></h3>
  <p>Year Completed: <%=l.year_completed%></p>
<%end%>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
